<div class="container" style="max-width: 750px;">
  <h3>請輸入你的支出</h3>
  <form action="/records" method="POST">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">名稱：</label>
      <div class="col-sm-10">
        <input  class="form-control" id="inputName" name="name">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputDate" class="col-sm-2 col-form-label">日期：</label>
      <div class="col-sm-10">
        <input type="date"  class="form-control" id="inputDate" name="date">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputCategory" class="col-sm-2 col-form-label">類別：</label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Default select example" style="font-family:'FontAwesome', 'Ariel';" name="category">
          <option value='' disabled selected hidden>Select</option>
          {{#each category}}
            <option value="{{ this._id }}">{{{ this.unicode }}}  {{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputAmount" class="col-sm-2 col-form-label">金額：</label>
      <div class="col-sm-10">
        <input  class="form-control" id="inputAmount" name="amount">
      </div>
    </div>  
    <button type="submit" class="btn btn-primary">新增支出</button>
  </form>
</div>
